# PostgreSQL
POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password

# Django
DB_HOST=db
DB_PORT=5432
DB_NAME=kittygram
DB_USER=kittygram_user
DB_PASSWORD=kittygram_password
SECRET_KEY=your-secret-key-here
DEBUG=False